{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<main class="container-fluid px-3 py-5 p-lg-6 p-xxl-8">
  <div class="row g-3 align-items-center">
    <div class="col">
      <h1 class="ls-tight">Edit Sale</h1>
    </div>
    <div class="col">
      <div class="hstack gap-2 justify-content-end">
        <a href="{% url 'sales_list' %}" class="btn btn-sm btn-neutral d-none d-sm-inline-flex">
          <span class="pe-2">
            <i class="bi bi-arrow-left-circle"></i>
          </span>
          <span>Back to Sales List</span>
        </a>
      </div>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
