{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<main class="container-fluid px-3 py-5 p-lg-6 p-xxl-8">
  <div class="mb-6 mb-xl-10">
    <div class="row g-3 align-items-center">
      <div class="col">
        <h1 class="ls-tight">Sales List</h1>
      </div>
      <div class="col">
        <div class="hstack gap-2 justify-content-end">
          <a href="{% url 'new_sale' %}" class="btn btn-sm btn-neutral d-none d-sm-inline-flex">
            <span class="pe-2">
              <i class="bi bi-plus-circle"></i>
            </span>
            <span>Add Sale</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <input type="text" id="saleSearch" class="form-control" placeholder="Search sales...">
  </div>
  <div class="card">
    <div class="card-body pb-0">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h5>Transaction History</h5>
        </div>
        <div class="hstack align-items-center">
        </div>
      </div>
      <div class="list-group list-group-flush custom-scrollbar" id="salesList">
        {% for sale in sales %}
        <div class="list-group-item d-flex align-items-center justify-content-between gap-6 sale-card" data-sale="{{ sale.buyer }} {{ sale.book }} {{ sale.sale_number }} {{ sale.status }}">
          <div class="d-flex align-items-center gap-3">
            <div class="icon icon-shape rounded-circle icon-sm flex-none w-rem-10 h-rem-10 text-sm bg-primary bg-opacity-25 text-primary">
                <i class="bi bi-cash-coin"></i>
            </div>
            <div class="d-flex flex-column">
              <span class="d-block text-heading text-sm fw-semibold">{{ sale.buyer }}</span>
              <span class="d-none d-sm-block text-muted text-xs">{{ sale.sale_date }}</span>
            </div>
          </div>
          <div class="d-none d-md-block text-sm text-center flex-shrink-0" style="width: 150px;">{{ sale.sale_number }}</div>
          <div class="d-none d-md-block flex-shrink-0" style="width: 100px;">
            <span class="badge bg-body-secondary
              {% if sale.status == 'PENDING' %}
                  text-warning
              {% elif sale.status == 'CANCELED' %}
                  text-danger
              {% elif sale.status == 'SUCCESSFUL' %}
                  text-success
              {% else %}
                  text-secondary
              {% endif %}">
              {{ sale.status }}
            </span>
          </div>
          <div class="text-end flex-grow-1">
            <span class="d-block text-heading text-sm fw-bold">{{ sale.total_value }}</span>
            <span class="d-block text-muted text-xs text-truncate" style="max-width: 150px;">{{ sale.book }}</span>
            <a href="{% url 'sale-edit' sale.pk %}" class="btn btn-sm btn-outline-primary ms-3">Edit</a>
            <a href="{% url 'sale-detail' sale.pk %}" class="btn btn-sm btn-outline-primary ms-3">Detail</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#saleSearch').on('input', function() {
      var searchTerm = $(this).val().toLowerCase();
      $('.sale-card').each(function() {
        var saleData = $(this).data('sale').toLowerCase();
        if (saleData.includes(searchTerm)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });
  });
</script>
{% endblock %}
