{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<main class="container-fluid px-3 py-5 p-lg-6 p-xxl-8">
  <div class="mb-6 mb-xl-10">
    <div class="row g-3 align-items-center">
      <div class="col">
        <h1 class="ls-tight">Buyer Analytics</h1>
      </div>
      <div class="col">
        <div class="hstack gap-2 justify-content-end">
          <a href="#" class="btn d-inline-flex btn-sm btn-dark">
            <span>Analytics</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="vstack gap-3 gap-xl-6">
    <div class="row row-cols-xl-4 g-3 g-xl-6">
        {% for buyer in top_buyers %}
      <div class="col">
        <div class="card">
          <div class="p-4">
            <h6 class="text-limit text-muted mb-3">{{ buyer.buyer__name }}</h6>
            <span class="d-block h3 ls-tight fw-bold">${{ buyer.total_spending }}</span>
            <p class="mt-1">
              <span class="text-success text-xs">
                <i class="fas fa-arrow-up me-1"></i> {{ buyer.participation|floatformat:2 }}% </span>
              <span class="text-muted text-xs text-opacity-75">of total spending</span>
            </p>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
    <div class="row g-3 g-xl-6">
      <div class="col-xxl-12">
        <div class="card">
          <div class="card-body pb-0">
            <div class="row g-3 justify-content-between align-items-center">
              <div class="col-12 col-sm">
                <h5>Monthly Spending Trends</h5>
              </div>
              <div class="col-12 col-sm-auto">
                <div class="hstack align-items-center">
                    <a href="#" class="text-muted" data-bs-toggle="dropdown"><i class="bi bi-funnel"></i></a>
                    <div class="dropdown-menu">
                        <button type="button" class="dropdown-item d-flex align-items-center buyer-filter" data-filter="All">All</button>
                        {% for buyer in buyers %}
                            <button type="button" class="dropdown-item d-flex align-items-center buyer-filter" data-filter="{{ buyer.buyer__name }}">{{ buyer.buyer__name }}</button>
                        {% endfor %}
                    </div>
                </div>
              </div>
            </div>
            <div class="mx-n4">
                <canvas id="buyerChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Lista de Buyers -->

    <div class="row g-3 g-xl-6">
      <div class="col-xl-5">

        <!-- Lista de Buyers -->

        <div class="card">
          <div class="card-body pb-3">
            <h5 class="mb-3">Buyers Statistics</h5>
            <div class="list-group list-group-flush">
                {% for buyer in top_buyers %}
              <div class="list-group-item d-flex align-items-center border-0 py-3">
                <div class="flex-none w-rem-10 h-rem-10">
                  <i class="bi bi-truck"></i>
                </div>
                <div class="flex-fill ms-4 text-limit">
                  <div class="d-flex align-items-center justify-content-between">
                    <a href="#" class="d-block text-sm text-heading fw-bold">{{ buyer.buyer__name }}</a>
                    <span class="text-muted text-xs fw-semibold">${{ buyer.total_spending }}</span>
                  </div>
                  <div class="progress progress-sm my-1">
                    <div class="progress-bar bg-primary" role="progressbar" style="width:{{ buyer.participation }}%" aria-valuenow="{{ buyer.participation }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                    <div>
                      <span class="font-weight-bold text-muted">Avg Spending: ${{ buyer.avg_spending }} </span>
                    </div>
                    <div>
                      <p class="card-text text-muted">
                        <time datetime="2020-06-23">Total: ${{ buyer.total_spending }}</time>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="text-end ms-7">
                  <div class="dropdown">
                    <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a href="#!" class="dropdown-item">Action </a>
                      <a href="#!" class="dropdown-item">Another action </a>
                      <a href="#!" class="dropdown-item">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>

            <!-- Lista de Buyers -->

        </div>
      </div>
      <div class="col-xl-7">
        <div class="card">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5>Purchases History</h5>
              </div>
              <div class="hstack align-items-center">
                <a href="#" class="text-muted">
                  <i class="bi bi-arrow-repeat"></i>
                </a>
              </div>
            </div>
              <div class="list-group list-group-flush">
                {% for sale in sales_history %}
                <div class="list-group-item d-flex align-items-center justify-content-between gap-6">
                  <div class="d-flex align-items-center gap-3">
                    <div class="icon icon-shape rounded-circle icon-sm flex-none w-rem-10 h-rem-10 text-sm bg-primary bg-opacity-25 text-primary">
                      <i class="bi bi-send-fill"></i>
                    </div>
                    <div class="">
                      <span class="d-block text-heading text-sm fw-semibold">{{ sale.day }} </span>
                      <span class="d-none d-sm-block text-muted text-xs">{{ sale.percentage_difference}}</span>
                    </div>
                  </div>
                  <div class="text-end">
                    <span class="d-block text-heading text-sm fw-bold"> ${{ sale.total_value }}</span>
                    <span class="d-block text-muted text-xs">Total</span>
                  </div>
                </div>
                {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="{% static 'js/buyer-chart.js' %}"></script>

{% endblock %}
