<!doctype html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
      <meta name="color-scheme" content="dark-theme">
      <title>DEV BOOKStore</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" type="text/css" href={% static 'css/utility.css' %}>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


   </head>

   <body class="bg-body-tertiary">





      <div class="d-flex flex-column flex-lg-row h-lg-100 gap-1">
         <nav class="flex-none navbar navbar-vertical navbar-expand-lg navbar-light bg-transparent show vh-lg-100 px-0 py-2" id="sidebar">
            <div class="container-fluid px-3 px-md-4 px-lg-6">
               <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownThemeButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-sun-fill"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownThemeButton">
                        <li><button class="dropdown-item" type="button" data-bs-theme-value="light">Light</button></li>
                        <li><button class="dropdown-item" type="button" data-bs-theme-value="dark">Dark</button></li>
                        <li><button class="dropdown-item" type="button" data-bs-theme-value="auto">System</button></li>
                    </ul>
               </div>

               <div class="navbar-user d-lg-none">
                  <div class="dropdown">
                     <a class="d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <div>
                           <div class="avatar avatar-sm text-bg-secondary rounded-circle">Name_abreviation</div>
                        </div>
                        <div class="d-none d-sm-block ms-3"><span class="h6">Username</span></div>
                        <div class="d-none d-md-block ms-md-2"><i class="bi bi-chevron-down text-muted text-xs"></i></div>
                     </a>
                     <div class="dropdown-menu dropdown-menu-end">
                        <div class="dropdown-header"><span class="d-block text-sm text-muted mb-1">Signed in as</span> <span class="d-block text-heading fw-semibold">Username</span></div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="bi bi-house me-3"></i>Home </a><a class="dropdown-item" href="#"><i class="bi bi-pencil me-3"></i>Edit profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="bi bi-gear me-3"></i>Settings </a><a class="dropdown-item" href="#"><i class="bi bi-image me-3"></i>Media </a><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-3"></i>Share</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="bi bi-person me-3"></i>Login/Logout</a>
                     </div>
                  </div>
               </div>
               <div class="collapse navbar-collapse overflow-x-hidden" id="sidebarCollapse">
                  <ul class="navbar-nav">
                     <li class="nav-item my-1">
                        <a class="nav-link d-flex align-items-center rounded-pill active" href="#sidebar-dashboards" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-dashboards"><i class="bi bi-house-fill"></i> <span>Dashboards</span> <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span></a>
                        <div class="collapse show" id="sidebar-dashboards">
                           <ul class="nav nav-sm flex-column mt-1">
                              <li class="nav-item"><a href="{% url 'home' %}" class="nav-link fw-bold">Default</a></li>
                              <li class="nav-item"><a href="{% url 'analytics' %}" class="nav-link">Analytics</a></li>
                              <li class="nav-item"><a href="#" class="nav-link">Balance</a></li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item my-1">
                        <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-pages" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-pages">
                            <i class="bi bi-bar-chart-fill"></i>
                            <span>Reports</span>
                            <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span></a>
                        <div class="collapse" id="sidebar-pages">
                           <ul class="nav nav-sm flex-column mt-1">
                              <li class="nav-item"><a href="#" class="nav-link">Overview</a></li>
                              <li class="nav-item"><a href="#" class="nav-link">Table Listing</a></li>
                              <li class="nav-item"><a href="#" class="nav-link">Details</a></li>
                              <li class="nav-item"><a href="#" class="nav-link">Create Form</a></li>
                              <li class="nav-item"><a href="#" class="nav-link">Large List</a></li>
                              <li class="nav-item"><a href="#" class="nav-link">Checklist</a></li>
                              <li class="nav-item"><a href="#" class="nav-link">Shelf</a></li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item my-1">
                        <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-account" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-account"><i class="bi bi-gear-fill"></i> <span>Account</span> <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span></a>
                        <div class="collapse" id="sidebar-account">
                           <ul class="nav nav-sm flex-column mt-1">
                              <li class="nav-item"><a href="#" class="nav-link">Settings</a></li>
                              <li class="nav-item"><a href="#" class="nav-link">Password</a></li>

                              <li class="nav-item"><a href="#" class="nav-link">Notifications</a></li>
                              <li class="nav-item"><a href="#" class="nav-link">Team</a></li>
                              <li class="nav-item"><a href="#" class="nav-link">Login</a></li>

                           </ul>
                        </div>
                     </li>
                     <li class="nav-item my-1">
                        <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-other" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-other"><i class="bi bi-file-break-fill"></i> <span>Other</span> <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span></a>
                        <div class="collapse" id="sidebar-other">
                           <ul class="nav nav-sm flex-column mt-1">
                              <li class="nav-item"><a href="#" class="nav-link">...</a></li>

                           </ul>
                        </div>
                     </li>
                  </ul>
                  <hr class="navbar-divider my-5 opacity-70">
                  <ul class="navbar-nav">
                     <li><span class="nav-link text-xs fw-semibold text-uppercase text-muted ls-wide">Resources</span></li>
                     <li class="nav-item my-1">
                        <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-supplier" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-components">
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Supplier</span>
                            <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span>
                        </a>
                        <div class="collapse" id="sidebar-supplier">
                           <ul class="nav nav-sm flex-column mt-1">
                              <li class="nav-item"><a href="" class="nav-link">Alerts</a></li>
                              <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
                              <li class="nav-item"><a href="" class="nav-link">Forms</a></li>
                              <li class="nav-item"><a href="" class="nav-link">List Groups</a></li>


                           </ul>
                        </div>
                     </li>
                     <li class="nav-item my-1">
                        <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-buyer" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-components">
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Buyers</span>
                            <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span>
                        </a>
                        <div class="collapse" id="sidebar-buyer">
                           <ul class="nav nav-sm flex-column mt-1">
                              <li class="nav-item"><a href="" class="nav-link">Alerts</a></li>
                              <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
                              <li class="nav-item"><a href="" class="nav-link">Forms</a></li>
                              <li class="nav-item"><a href="" class="nav-link">List Groups</a></li>


                           </ul>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <div class="flex-lg-fill overflow-x-auto ps-lg-1 vstack vh-lg-100 position-relative">
            <div class="d-none d-lg-flex py-3">
               <div class="flex-none">
                  <div class="input-group input-group-sm input-group-inline w-rem-64 rounded-pill"><span class="input-group-text rounded-start-pill"><i class="bi bi-search me-2"></i> </span><input type="search" class="form-control ps-0 rounded-end-pill" placeholder="Search" aria-label="Search"></div>
               </div>
               <div class="hstack flex-fill justify-content-end flex-nowrap gap-6 ms-auto px-6 px-xxl-8">

                  <div class="dropdown d-none">
                     <a href="#" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-sun-fill"></i></a>
                     <div class="dropdown-menu"><button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">Light</button> <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">Dark</button> <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">System</button></div>
                  </div>
                  <div class="dropdown">
                     <a href="#" class="nav-link" id="dropdown-notifications" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-bell"></i></a>
                     <div class="dropdown-menu dropdown-menu-end px-2" aria-labelledby="dropdown-notifications">
                        <div class="dropdown-item d-flex align-items-center">
                           <h6 class="dropdown-header px-0">Notifications</h6>
                           <a href="#" class="text-sm fw-semibold ms-auto">Clear all</a>
                        </div>

                         <!-- Notificação Cada uma -->
                        <div class="dropdown-item py-3 d-flex">
                           <div>
                              <div class="avatar bg-primary text-white rounded-circle">#</div>
                           </div>
                           <div class="flex-fill ms-3">
                              <div class="text-sm lg-snug w-rem-64 text-wrap">
                                  <a href="#" class="fw-semibold text-heading text-primary-hover">Someone</a> sent a message to <a href="#" class="fw-semibold text-heading text-primary-hover">Username</a></div>
                              <span>time ago</span>
                           </div>
                        </div>

                         <!-- Fim Notificação Cada -->

                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item py-2 text-center"><a href="#" class="fw-semibold text-heading text-primary-hover">View all</a></div>
                     </div>
                  </div>
                  <div class="dropdown">
                     <a class="avatar avatar-sm text-bg-dark rounded-circle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><img src="#"></a>
                     <div class="dropdown-menu dropdown-menu-end">
                        <div class="dropdown-header"><span class="d-block text-sm text-muted mb-1">Signed in as</span> <span class="d-block text-heading fw-semibold">Username</span></div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="bi bi-house me-3"></i>Home </a><a class="dropdown-item" href="#"><i class="bi bi-pencil me-3"></i>Edit profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="bi bi-gear me-3"></i>Settings </a><a class="dropdown-item" href="#"><i class="bi bi-image me-3"></i>Media </a><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-3"></i>Share</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="bi bi-person me-3"></i>Login/Logout</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="flex-fill overflow-y-lg-auto scrollbar bg-body rounded-top-4 rounded-top-start-lg-4 rounded-top-end-lg-0 border-top border-lg shadow-2">

                <!-- Main content -->
                {% block content %}{% endblock %}




            </div>
         </div>
      </div>



      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
      <script src="{% static 'js/main.bundle.js' %}"></script>
      <script src="{% static 'js/switcher.bundle.js' %}"></script>
      <script src="{% static 'js/chart-bar.js' %}"></script>
      <script src="{% static 'js/line-chart.js' %}"></script>



   </body>
</html>