{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<main class="container-fluid px-3 py-5 p-lg-6 p-xxl-8">
  <div class="mb-6 mb-xl-10">
    <div class="row g-3 align-items-center">
      <div class="col">
        <h1 class="ls-tight">Analytics</h1>
      </div>
      <div class="col">
        <div class="hstack gap-2 justify-content-end">
          <button type="button" class="btn btn-sm btn-neutral d-none d-sm-inline-flex" data-bs-target="#depositLiquidityModal" data-bs-toggle="modal">
            <span class="pe-2">
              <i class="bi bi-plus-circle"></i>
            </span>
            <span></span>
          </button>
          <a href="#" class="btn d-inline-flex btn-sm btn-dark">
            <span>#</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="vstack gap-3 gap-xl-6">
    <div class="row row-cols-xl-4 g-3 g-xl-6">
        {% for genre in top_sales %}
      <div class="col">
        <div class="card">
          <div class="p-4">
            <h6 class="text-limit text-muted mb-3">{{ genre.genre }}</h6>
            <span class="d-block h3 ls-tight fw-bold">{{ genre.total_value}}</span>
            <p class="mt-1">
              <span class="text-success text-xs">
                <i class="fas fa-arrow-up me-1"></i>{{ genre.revenue }}% </span>
              <span class="text-muted text-xs text-opacity-75">of month Revenue</span>
            </p>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
    <div class="row g-3 g-xl-6">
      <div class="col-xxl-12">
        <div class="card">
          <div class="card-body pb-0">
            <div class="row g-3 justify-content-between align-items-center">
              <div class="col-12 col-sm">
                <h5>Crescimentos das Vendas (%)</h5>
              </div>
              <div class="col-12 col-sm-auto">
            <div class="hstack align-items-center">
                <a href="#" class="text-muted" data-bs-toggle="dropdown"><i class="bi bi-funnel"></i></a>

                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item d-flex align-items-center genre-filter" data-filter="All">All</button>
                    {% for genre in data %}
                        <button type="button" class="dropdown-item d-flex align-items-center genre-filter" data-filter="{{ genre.genre }}">{{ genre.genre }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mx-n4">
            <canvas id="barChart"></canvas>
        </div>
    </div>
        </div>
      </div>
    </div>

    <!-- Lista de Generos -->

    <div class="row g-3 g-xl-6">
      <div class="col-xl-5">

        <!-- Lista de Generos -->

        <div class="card">
          <div class="card-body pb-3">
            <h5 class="mb-3">Genre Stash</h5>
            <div class="list-group list-group-flush">
                {% for genre in genre_stash %}
              <div class="list-group-item d-flex align-items-center border-0 py-3">
                <div class="flex-none w-rem-10 h-rem-10">
                  <i class="bi bi-book-half"></i>
                </div>
                <div class="flex-fill ms-4 text-limit">
                  <div class="d-flex align-items-center justify-content-between">
                    <a href="#" class="d-block text-sm text-heading fw-bold">{{ genre.genre }}</a>
                    <span class="text-muted text-xs fw-semibold">{{ genre.quantity }}</span>
                  </div>
                  <div class="progress progress-sm my-1">
                    <div class="progress-bar bg-primary" role="progressbar" style="width:47%" aria-valuenow="200" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                    <div>
                      <span class="font-weight-bold text-muted">Preço Médio: {{ genre.average_price }} </span>
                    </div>
                    <div>
                      <p class="card-text text-muted">
                        <time datetime="2020-06-23">Valor:${{ genre.total_price }}</time>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="text-end ms-7">
                  <div class="dropdown">
                    <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a href="#!" class="dropdown-item">Action </a>
                      <a href="#!" class="dropdown-item">Another action </a>
                      <a href="#!" class="dropdown-item">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>

            <!-- Lista de Generos -->

        </div>
      </div>
      <div class="col-xl-7">
        <div class="card">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5>Genre Transaction History</h5>
              </div>
              <div class="hstack align-items-center">
                <a href="#" class="text-muted">
                  <i class="bi bi-arrow-repeat"></i>
                </a>
              </div>
            </div>
              {% for genre in data %}
            <div class="list-group list-group-flush">
              <div class="list-group-item d-flex align-items-center justify-content-between gap-6">
                <div class="d-flex align-items-center gap-3">
                  <div class="icon icon-shape rounded-circle icon-sm flex-none w-rem-10 h-rem-10 text-sm bg-primary bg-opacity-25 text-primary">
                    <i class="bi bi-send-fill"></i>
                  </div>

                  <div class="">
                    <span class="d-block text-heading text-sm fw-semibold">{{ genre.genre }} </span>
                    <span class="d-none d-sm-block text-muted text-xs"> days ago</span>
                  </div>

                </div>
                <div class="d-none d-md-block text-sm">{{ genre.month }}</div>
                  {%  if genre.percent_change is not None %}
                <div class="d-none d-md-block">
                  <span class="badge bg-body-secondary text-warning">{{ genre.percent_change }}</span>
                </div>
                  {% endif %}
                <div class="text-end">
                  <span class="d-block text-heading text-sm fw-bold"> {{ genre.total_value }}</span>
                  <span class="d-block text-muted text-xs">Total_Amount</span>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}