{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<main class="container-fluid px-6 pb-10">
     <header class="py-4 border-bottom">
        <div class="row align-items-center">
            <div class="col">
                <div class="d-flex align-items-center gap-4">
                    <div>
                        <button id="close-button" type="button" class="btn-close text-xs" aria-label="Close"></button>
                    </div>
                    <div class="vr opacity-20 my-1"></div>
                    <h1 class="h4 ls-tight">Add a new asset</h1>
                </div>
            </div>

        </div>
    </header>

    <div class="row align-items-center g-3 mt-6">
        <div class="col-md-2">
            <label class="form-label mb-0">Select type</label>
        </div>
        <div class="col-md-8 col-xl-5">
            <div class="d-flex gap-3 scrollable-x">
                <div class="form-item-checkable">
                    <input class="form-item-check" type="radio" name="item-type" id="item-type-book" value="book" checked="checked">
                    <label class="form-item cursor-pointer" for="item-type-book">
                        <span class="form-item-click d-inline-flex flex-column gap-3 align-items-center justify-content-center form-control w-rem-24 h-rem-24 text-center text-muted">
                            <i class="bi bi-book text-xl"></i>
                            <span class="fw-semibold text-xs">Book</span>
                        </span>
                    </label>
                </div>
                <div class="form-item-checkable">
                    <input class="form-item-check" type="radio" name="item-type" id="item-type-author" value="author">
                    <label class="form-item cursor-pointer" for="item-type-author">
                        <span class="form-item-click d-inline-flex flex-column gap-3 align-items-center justify-content-center form-control w-rem-24 h-rem-24 text-center text-muted">
                            <i class="bi bi-person text-xl"></i>
                            <span class="fw-semibold text-xs">Author</span>
                        </span>
                    </label>
                </div>
                <div class="form-item-checkable">
                    <input class="form-item-check" type="radio" name="item-type" id="item-type-genre" value="genre">
                    <label class="form-item cursor-pointer" for="item-type-genre">
                        <span class="form-item-click d-inline-flex flex-column gap-3 align-items-center justify-content-center form-control w-rem-24 h-rem-24 text-center text-muted">
                            <i class="bi bi-tag text-xl"></i>
                            <span class="fw-semibold text-xs">Genre</span>
                        </span>
                    </label>
                </div>
                <div class="form-item-checkable">
                    <input class="form-item-check" type="radio" name="item-type" id="item-type-assembly" value="assembly">
                    <label class="form-item cursor-pointer" for="item-type-assembly">
                        <span class="form-item-click d-inline-flex flex-column gap-3 align-items-center justify-content-center form-control w-rem-24 h-rem-24 text-center text-muted">
                            <i class="bi bi-diagram-3 text-xl"></i>
                            <span class="fw-semibold text-xs">Assembly</span>
                        </span>
                    </label>
                </div>
                <div class="form-item-checkable">
                    <input class="form-item-check" type="radio" name="item-type" id="item-type-publication" value="publication">
                    <label class="form-item cursor-pointer" for="item-type-publication">
                        <span class="form-item-click d-inline-flex flex-column gap-3 align-items-center justify-content-center form-control w-rem-24 h-rem-24 text-center text-muted">
                            <i class="bi bi-newspaper text-xl"></i>
                            <span class="fw-semibold text-xs">Publication</span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-6">

    <form method="post">
        {% csrf_token %}
        <div class="card" style="height: 500px; overflow-y: auto;">
            <div class="card-body">
                <div id="bookForm" class="form-type">
                    {{ book_form.as_p }}
                </div>
                <div id="authorForm" class="form-type" style="display:none;">
                    {{ author_form.as_p }}
                </div>
                <div id="genreForm" class="form-type" style="display:none;">
                    {{ genre_form.as_p }}
                </div>
                <div id="assemblyForm" class="form-type" style="display:none;">
                    {{ assembly_form.as_p }}
                </div>
                <div id="publicationForm" class="form-type" style="display:none;">
                    {{ publication_form.as_p }}
                </div>
            </div>
        </div>
        <div class="card mt-6">
            <div class="card-body d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                <button type="button" class="btn btn-sm btn-neutral" onclick="saveAndCreateAnother()">Save and create another</button>
            </div>
        </div>
    </form>
</main>


    <script src="{% static 'js/form-switcher.js' %}"></script>
    <script src="{% static 'js/form-buttons.js' %}"></script>

{% endblock %}